# Executables and objects
*.exe
*.o
# Local project files
*.layout
*.depend
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.opendb
*.sdf
*.suo
ipch/
bin/
obj/
Debug/
Release/
# Inputs (BSP/MD3)
*.bsp
*.md3
# Program outputs (OBJ/ASE)
*.obj
*.ase
*.mtl
# Assets
*.tga
*.jpg
*.skin